header {

    background: $pri-color;
    border-top: 0.5em solid $pri-color-dark;
    padding: 1em 2em;
    font-family: 'Open Sans', Sans-serif;
    color: white;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.5);
    font-size: 0.75em;

    @include respond-to($tablet) {
        padding: 0.75em;
        font-size: 1em;
    }

    p {
        margin: 0;
        line-height: 1;
        text-align: center;

        strong {
            font-size: 1.5em;
            text-transform: uppercase;
            display: block;
        }
        small {
            font-size: 0.75em;
            display: none;
        }

        @include respond-to($tablet) {
            text-align: left;
            strong, small {
                display: inline-block;
            }
        }
    }

    /**
     * SIZE-SPECIFIC MODIFICATIONS AND ENHANCEMENTS
     * (start small and work up)
     * baseline breakpoints are included, add more as needed
     */

    @include respond-to($mobile) {

    }

    @include respond-to($tablet) {

    }

    @include respond-to($desktop) {

    }
}
