<div class="modal">
	<div class="wrapper">
		<div class="heading">
			<p><strong>Wait!</strong></p>
		</div>
		<div class="copy">
			<p>Lorem ipsum dolor sit amet.</p>
		</div>
		<div class="actions">
			<a href="#" class="btn cancel">Cancel</a>
			<a href="#" class="btn ok">Ok</a>
		</div>
	</div>
</div>
