/*------------------------------------*\
    GLOBAL/BASE STYLES
\*------------------------------------*/

$pri-color: #03A9F4;
$pri-color-dark: #0277BD;
$pri-color-rgb: 3, 169, 244;
$pri-color-dark-rgb: 2, 119, 189;

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 62.5%; // set root font size to ~10px for easy calculation
}

body {
    @include rem(1.6);
    line-height: 1.4; // unitless line-height to be based off the element's size
    background: #EEEEEE;
    font-family: 'Open Sans', Helvetica, Sans-serif;
}

.accessibility-hidden {
	position: absolute;
	left: -9999px;
}

::selection {
  background: lighter($pri-color, 10%); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: lighter($pri-color, 10%); /* Gecko Browsers */
}