.sentiment {
    position: relative;

    .wrapper {
        padding: 1em 3em;
        position: relative;
        min-height: 10em;
    }

    h1 {
        font-weight: 400;
        margin: 0;
        padding: 0;
        line-height: 1.1;
        font-size: 2em;
        padding: 0.5em;
        border-bottom: 1px solid #CCC;
    }

    .chart {
        width: 95%;
        margin: 0 auto;
        min-height: 200px;
        position: relative;
        background: white;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            border-top: 1px dotted #666;
            height: 2px;
            width: 100%;
        }
    }

    a.btn {

        $btn_color_positive: #4CAF50;
        $btn_color_negative: #F44336;

        position: absolute;
        top: 50%;
        margin-top: -1em;

        padding: 0.5em 1em;
        border: 0;
        background: transparent;
        outline: none;
        font-size: 2em;
        color: white;
        text-decoration: none;
        box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.25);

        transition: all 250ms;

        &:hover {
            background: rgba(153,153,153,0.2);
        }
        &:focus {
            background: rgba(153,153,153,0.2);
        }
        &:active {
            background: rgba(153,153,153,0.4);
        }

        &.positive {
            background: $btn_color_positive;
            left: -1em;

            &:hover, &:focus {
                background: darken($btn_color_positive, 5%);
            }
            &:active {
                background: darken($btn_color_positive, 15%);
                box-shadow: 0 0.1em 0.25em rgba(0,0,0,0.75);
            }
        }
        &.negative {
            background: $btn_color_negative;
            right: -1em;

            &:hover, &:focus {
                background: darken($btn_color_negative, 5%);
            }
            &:active {
                background: darken($btn_color_negative, 15%);
                box-shadow: 0 0.1em 0.25em rgba(0,0,0,0.75);
            }
        }

    }

    /**
     * BASE COMPONENT STYLES HERE
     * (common across all screen sizes)
     */

    /**
     * SIZE-SPECIFIC MODIFICATIONS AND ENHANCEMENTS
     * (start small and work up)
     * baseline breakpoints are included, add more as needed
     */

    @include respond-to($mobile) {

    }

    @include respond-to($tablet) {

    }

    @include respond-to($desktop) {

    }
}
