.sentiment {
    position: relative;

    .wrapper {
        //padding: 1em 1em;
        position: relative;
    }

    h1 {
        font-weight: 400;
        margin: 0;
        padding: 0;
        line-height: 1.1;
        font-size: 2em;
        padding: 0.5em;
        border-bottom: 1px solid #EEE;

        .alt {
            display: none;
        }
        .pri {
            display: block;
        }

        &.alt {
            .alt {
                display: block;
            }
            .pri {
                display: none;
            }
        }
    }

    #chart {
        width: 100%;
        margin: 0 auto;
        height: 100px;
        position: relative;
        background: white;
    }

    .actions {
        font-size: 0em;
        border-bottom: 1px solid #CCC;
    }

    a.btn {
        $btn_color_positive: $pri-color-dark;
        $btn_color_negative: #D81B60;

        width: 47%;
        padding: 2% 0%;
        margin: 2%;
        z-index: 999;
        display: inline-block;

        border: 0;
        background: transparent;
        outline: none;
        font-size: 2rem;
        color: white;
        text-decoration: none;
        text-align: center;
        box-shadow: 0 0.1em 0.1em rgba(0,0,0,0.25);

        transition: all 250ms;

        @include respond-to($desktop) {
            font-size: 4rem;
        }

        &:hover {
            background: rgba(153,153,153,0.2);
        }
        &:focus {
            background: rgba(153,153,153,0.2);
        }
        &:active {
            background: rgba(153,153,153,0.4);
        }

        &.positive {
            background: $btn_color_positive;
            margin-right: 1%;

            &:hover, &:focus {
                background: darken($btn_color_positive, 5%);
            }
            &:active {
                background: darken($btn_color_positive, 15%);
                box-shadow: 0 0.1em 0.25em rgba(0,0,0,0.75);
            }
        }
        &.negative {
            background: $btn_color_negative;
            margin-left: 1%;

            &:hover, &:focus {
                background: darken($btn_color_negative, 5%);
            }
            &:active {
                background: darken($btn_color_negative, 15%);
                box-shadow: 0 0.1em 0.25em rgba(0,0,0,0.75);
            }
        }

    }

    /**
     * BASE COMPONENT STYLES HERE
     * (common across all screen sizes)
     */

    /**
     * SIZE-SPECIFIC MODIFICATIONS AND ENHANCEMENTS
     * (start small and work up)
     * baseline breakpoints are included, add more as needed
     */

    @include respond-to($mobile) {

    }

    @include respond-to($tablet) {

    }

    @include respond-to($desktop) {

    }
}
