<div class="sentiment">
	<h1>
		<div class="pri">Do you like this?</div>
		<div class="alt">How about now?</div>
	</h1>
	<div class="share"></div>
	<div class="actions">
		<a href="#" class="btn positive" data-value="1"><i class="fa fa-thumbs-up"></i></a>
		<a href="#" class="btn negative" data-value="-1"><i class="fa fa-thumbs-down"></i></a>
	</div>
	<div class="wrapper">
        <div id="chart"></div>
	</div>
</div>
