.post-comment {
    position:relative;
    input {
        width: 45%;
        position: relative;
        left: 50%;
        margin: 1%;
        resize: none;
        border: 1px solid #3366FF;
        border-left: 6px solid #3366FF;
        padding: 5px;
        &:before {
            content: attr(data-name);
            position: relative;
            left: 10px;
            display: inline-block;
            font-family: sans-serif;
            font-size: 1.6em;
            font-weight: normal;
            line-height: 32px;
            padding: 1em 0;
            vertical-align: middle;
            visibility: hidden;
        }
    }
}
