
.content {
}

.card {
    margin: 0 auto;
    max-width: 800px;

    background: white;
    box-shadow: 0 0.25em 0.5em rgba(0,0,0,0.25);
    margin-bottom: 0;

    @include respond-to(815px) {
	    margin-bottom: 1em;
	 	border-radius: 2px;

	    &:first-child {
	    	margin-top: 1em;
	    }
    }

    @include respond-to($tablet) {
	    //margin-bottom: 1em;
    }
    @include respond-to($desktop) {
	    &:first-child {
	    	margin-top: 2em;
	    }
    }

}