<div class="js-page-controller-action home-page" data-action-name="home">
    <div class="content">

    	<div class="card">
        	{{> video}}
        </div>

    	<div class="card">
        	{{> sentiment}}
        </div>

    	<div class="card">
            {{> comments}}
        </div>

    	<div class="card">
        	{{> related}}
        </div>

    </div>
</div>
