<div class="related">
	<h2>Watch More</h2>
	<ul>
		{{#each related}}
			<li style="background-image: url(http://img.youtube.com/vi/{{videoId}}/0.jpg);">
				<a href="?videoId=yt_{{videoId}}">
					<i class="fa fa-youtube-play"></i>
					<div class="title">{{title}}</div>
					<div class="source">{{source}}</div>
				</a>
			</li>
		{{/each}}
	</ul>
</div>