.comments {
    display: block;
    width: 100%;
    height: auto;
    position: relative;

    ul, li {
    	margin: 0;
    	padding: 0;
    	list-style: none;
    }
    ul {
    	max-height: 50em;

    	li {
    		border-bottom: 1px solid #EEE;
    		padding: 1em;
    	}
    }
}
