.comment-feed {

    ul, li {
    	margin: 0;
    	padding: 0;
    	list-style: none;
    }
    ul {
    	max-height: 33vh;
    	overflow-x: hidden;

    	li {
    		border-bottom: 1px solid #EEE;
    		overflow: hidden;
    		height: 5em;

    		transition: background 500ms;

            .wrapper {
            	padding: 1em;
            	margin-left: 0;

            	transition: margin 250ms;
            }

            &.new {
                background: #F4FF81;

                .wrapper {
                	margin-left: 100%;
                }
            }

            &.yours {
            	// text-align: right;

            	.byline {
            		color: $pri-color-dark;

	            	&::before {
	            		content: "(You) ";
	            	}
            	}
            }

            .byline {
            	font-size: 0.5em;
            	opacity: 0.5;

            	&::after {
            		display: none;
            		content: attr(data-when);
            		margin-left: 0.25em;
            	}
            }

            &:hover {
            	.byline {
            		&::after {
            			display: inline;
            		}
            	}
            }

            .comment {
            	color: black;
            	line-height: 1.5;
            	margin-top: 0.5em;
            }
    	}
    }

}
