.post {
    position:relative;
    &__wrapper:before {
        content: attr(data-name);
        display: inline-block;
        font-size: 1em;
        font-weight: normal;
        padding: 1em 0;
        position: absolute;
        right: 50%;
        vertical-align: middle;
    }
    input {
        width: 45%;
        position: relative;
        left: 50%;
        margin: 1%;
        resize: none;
        border: 1px solid #3366FF;
        border-left: 6px solid #3366FF;
        padding: 5px;
    }
}
