<div class="post">
	<div data-name="Error" class="post__wrapper">
		<form class="comment-form" name="comment-form">
			<div class="row">
				<label for="posting-as" class="">Posting as</label><!--
				--><input type="text" id="posting-as" name="posting-as" value="" />
			</div>
			<div class="row">
				<label for="post-comment" class="accessibility-hidden">Comment</label>
				<input type="text" id="post-comment" name="post-comment" maxlength="80" placeholder="What do you think?" />
			</div>
		</form>
	</div>
</div>
