<div id="endcard">
	<div class="next">Play next video: <span class="nextVideo"></span></div>
	<div class="play"><a href="#"><i class="fa fa-youtube-play"></i></a></div>
	<div class="nextCountdown" data-prefix=":"></div>
	<div class="replay">or <a href="#">reply current video</a>.</div>
</div>